* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
}

li{
  list-style-type: none;
}

.campaign-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}
.base-body {
  padding: 0 100px 12px 100px;
}
@media (min-width: 480px) {
  .custom-dialog .ms-Dialog-main {
    max-width: fit-content;
  }
}
